.adminId,
.inputSeparator {
  position: relative;
  z-index: 1;
}
.adminId {
  width: 72px;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  color: var(--color-gray-700);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.inputSeparator {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-gray-600);
  box-sizing: border-box;
}
.inputFields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.eyeslashfillIcon,
.password {
  height: 24px;
  position: relative;
  z-index: 1;
}
.password {
  width: 77px;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  color: var(--color-gray-700);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.eyeslashfillIcon {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.passwordParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.inputFieldsChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  z-index: 1;
}
.inputFields1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.forgotPassword {
  position: relative;
  z-index: 1;
}
.inputFieldsParent {
  width: 381px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  font-family: var(--font-poppins);
}
